
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .clock {
    width: 200px;
    height: 200px;
  }
  
  .clock-face {
    fill: #370fd8;
  }
  
  .hour-hand,
  .minute-hand, 
  .second-hand{
    stroke: #333;
    stroke-width: 5;
    stroke-linecap: round;
  }
  
  .center-point {
    fill: #333;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .second-hand {
    animation: rotate 60s linear infinite;
  }
  
  .minute-hand {
    animation: rotate 3600s linear infinite;
  }
  
  .hour-hand {
    animation: rotate 43200s linear infinite;
  }
  .button {
    background-color: aqua;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    border-radius: 20px;
    height: 30px;
  }
  .button:hover {
    opacity: 1;
    font-size: 10px;
    transition: all 1s ease-in-out;
  }